.btn{
    padding: 10px 20px;
    background-color: $primary-color;
    color: $white;
    @include BorderRadius(7px);
    margin: 10px 0 20px 0;
    display: inline-block;
    &:hover{
        background-color: $primary-color-hover    ;
    }
}
.empty{
    height: 150px;
}

.line{
    border-bottom: 2px solid $black;
    display: block;
    width: 100px;
    margin: 5px auto;
    &:nth-last-of-type(2){
        width: 150px;
    }
}