@mixin BorderRadius($x) {
    border-radius: #{$x};
    -webkit-border-radius: #{$x};
    -moz-border-radius: #{$x};
    -ms-border-radius: #{$x};
    -o-border-radius: #{$x};
}
@mixin CustomBorderRadius($tl,$tr,$br,$bl) {
    border-top-left-radius: #{$tl};
    border-top-right-radius: #{$tr};
    border-bottom-right-radius: #{$br};
    border-bottom-left-radius: #{$bl};
}
@mixin transition($x,$how) {
    transition: all #{$x}s #{$how};
    -webkit-transition: all #{$x}s #{$how};
    -moz-transition: all #{$x}s #{$how};
    -ms-transition: all #{$x}s #{$how};
    -o-transition: all #{$x}s #{$how};
}
@mixin translate($x,$y) {
    transform: translate(#{$x},#{$y});
    -webkit-transform: translate(#{$x},#{$y});
    -moz-transform: translate(#{$x},#{$y});
    -ms-transform: translate(#{$x},#{$y});
    -o-transform: translate(#{$x},#{$y});
}
@mixin scale($x) {
    transform: scale(#{$x});
    -webkit-transform: scale(#{$x});
    -moz-transform: scale(#{$x});
    -ms-transform: scale(#{$x});
    -o-transform: scale(#{$x});
}