$primary-color: #323846;
$primary-color-hover: #323846e1;
$secondary-color: #E5E5E5;
$muted: #FAFAFA;
$white: #FFFFFF;
$black: #000000;
$cart-shadow: #bababa83;
$line-color: #25262c93;
$overlay: linear-gradient(#302e2e7a,#4646466e);